header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  font-family: 'Montserrat', sans-serif;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  a {
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
  }
}
